@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

body {
  min-height: 100vh;
  background: radial-gradient(#da1c3e, #600a0b, #000000);
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffff;
  transition: 0.5s ease-out;
}

.logo:hover{
    transform: scale(1.1);
}

.menu ul {
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: #ffff;
  transition: 0.5s ease-in-out;
}

.menu a:hover{
    color: #FFE600;
}

section {
  height: 100vh;
  position: relative;
}

.itens-container {
  width: 70vw;
  height: 100%;
  margin: auto;
  position: relative;
}

.itens-container .item {
  position: absolute;
  inset: 0; /* shorthand de top, right, bottom, left */
}

.item .guitarra-img {
  max-width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.item img {
  max-width: 90%;
}

.conteudo-container {
  width: 60%;
  height: 100%;
  margin-left: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  right: 0;
  display: flex;
  flex-direction: column;

  & h2 {
    max-width: 400px;
    margin-bottom: 10px;
    font-size: 2.6em;
    text-transform: uppercase;
    text-align: right;
    color: #ffff;
  }
}

.conteudo-container .descricao {
  max-width: 400px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #ffff;
}

.botao-saiba-mais {
  max-width: 100px;
  width: 100%;
  padding: 8px 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #231F20;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 100px;
  transition: 0.5s ease-in-out;
}

.botao-saiba-mais:hover {
  cursor: pointer;
  background-color: #000000;
}

.botao-saiba-mais > a{
    font-weight: bold;
    text-transform: capitalize;
}

.active {
  background-color: #ffff;
}

.setas-container {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.setas-container::before {
  width: 46.5%;
  content: "";
  border-top: 1px solid #fff;
  position: absolute;
  top: 50%;
}

.setas-container button {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #ffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.setas-container button:hover{
    background-color: #FFE600;
}

.setas-container button img {
  max-width: 30px;
  margin-top: 4px;
}

/* invertendo de lado a seta */
.setas-container #seta-voltar {
  transform: scale(-1);
}

/* Efeitos de transição */
section {
  & .itens-container {
    & .item {
      transform: translateX(100vw);
      transition: 0.5s;

      & .guitarra-img {
        & img {
          transition-delay: 0.3s;
        }
      }

      & .conteudo-container {
        & h2,
        .descricao,
        .botao-saiba-mais {
          transform: translateX(200px);
          transition: 0.7s;
          transition-delay: 0.3s;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .descricao {
          transition-delay: 0.7s;
        }

        & .botao-saiba-mais {
          transition-delay: 0.9s;
        }
      }
    }

    & .active-item {
      transform: translateX(0);
      transition: 1s;
      opacity: 1;

      & .conteudo-container {
        & h2,
        .descricao {
          transform: translateX(0);
          transition-delay: 0.5s;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .descricao {
          transition-delay: 0.7s;
        }

        & .botao-saiba-mais {
          transform: translateX(200px);
          transition: 0.5s;
          transition-delay: 0.2s;
        }
      }
    }
  }
}
